body {
    font-size: 14px;
}

::-webkit-scrollbar { 
    width: 5px;
    height: 5px;
}

body:hover ::-webkit-scrollbar-thumb {
    background-color: #6c757d; 
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-track {
    background-color: #999;
}

::-webkit-scrollbar-track-piece {
    background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
    height: 50px;
    border-radius: 10px;
}

::-webkit-scrollbar-corner {
    background-color: #999;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    box-shadow: 0 0 0 1px #ffffff;
}


.modal-header {
    -webkit-user-select: none;
    -webkit-app-region: drag;
    padding: 2px 10px;
}

.modal-header .close {
    -webkit-app-region: no-drag;
    margin: -7px;
    margin-left: 0px;
    padding: 10px 7px;
    outline: none;
    font-size: 22px;
}

.modal-header .minimize {
    -webkit-app-region: no-drag;
    margin: -7px 0px;
    padding: 10px 9px;
    padding-top: 9px;
    padding-bottom: 4px;
    font-size: 20px;
    outline: none;
    background-color: transparent;
    border: 0;
    opacity: 0.5;
}

.modal-header .minimize:hover {
    opacity: 1;
}

.modal-content {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

.toolbar-top {
    display: inline-flex;
    padding: 3px;
    border-bottom: 1px solid #dee2e6;
    align-items: center;
}

.toolbar-bottom {
    display: inline-flex;
    padding: 3px;
    border-top: 1px solid #dee2e6;
    align-items: center;
}

.toolbar-top .btn,
.toolbar-bottom .btn {
    padding: 0px;
    margin-right: 1px;
    border-radius: 0px;
    width: 26px;
    height: 26px;
    min-width: 26px;
    min-height: 26px;
}

.toolbar-container {
    display: inline-flex;
    margin-right: 3px;
    align-items: center;
}

.volume-bar {
    height: 10px;
    border-radius: 0px;
}

.list-item {
    display: inline-flex;
    position: relative;
    align-items: center;
    width: 100%;
    padding: 0px 6px;
    cursor: default;
    -webkit-user-select: none;
    min-height: 30px;
}

.list-item:hover {
    background-color: #eeeeee;
}

.list-item.selected {
    background-color: #007bff;
    color: #ffffff;
}

.arrow-no-sel {
    color: #007bff;
}

.list-item.selected .arrow-no-sel {
    color: #ffffff;
}


.list-item .item-label {
    width: 100%;
}

.list-item .custom-switch {
    margin-right: -9px;
}

.list-item-group {
    display: inline-flex;
    position: relative;
    align-items: center;
    width: 100%;
    cursor: default;
    -webkit-user-select: none;
    padding-top: 5px;
    align-items: center;
    justify-content: center;
}

.list-item-group .item-label {
    position: relative;
    text-align: center;
    color: #999999;
    font-size: 14px;
    font-weight: bold;
    background-color: #ffffff;
    padding: 0px 10px;
}

.form-label {
    padding-top: 7px;
    text-align: right;
}

.variable-short-value {
    font-size: 16px;
    font-weight: bold;
}

.variable-term-value {
    font-size: 16px;
    font-weight: bold;
}

.variable-text-value {
    white-space: nowrap;
    min-width: 70px;
    text-align: right;
}

.list-item.selected .custom-control-input:checked~.custom-control-label::before {
    border: #ffffff solid 1px;
}

.list-item .scheduler-img {
    padding-right: 5px;
    margin-left: -3px;
}

.list-item .scheduler-text {
    width: 100%;
    padding: 4px 0px;
    padding-bottom: 5px;
}

.list-item .scheduler-name {
    padding: 0px;
    line-height: 15px;
}

.list-item .scheduler-range {
    font-size: 11px;
    padding: 0px;
    padding-top: 2px;
    line-height: 11px;
}

.list-item .sheduler-date {
    font-size: 10px;
    min-width: 52px;   
    width: 52px;
}

.list-item .media-name {
    line-height: 16px;
    padding: 2px 0px;
    padding-bottom: 3px;
}
